<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/home"
        ><h2>Mike's Blog<em>.</em></h2></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog Entries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="/create">Create</a>
          </li>
          {% endif %}
          <li class="nav-item mike">
            <div class="sidebar-item search nav-link">
              <form id="search_form" name="gs" method="GET" action="/search">
                <input
                  type="text"
                  name="q"
                  class="searchText"
                  placeholder="type to search..."
                  autocomplete="on"
                />
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
